@charset "UTF-8";
#body_bg
{ 
	/*background-color:#FFFFF0; */
  background-color: #fff;

background-size: 100%;

	/*
	background: url('bg-9-full.jpg') no-repeat; 
	background-image: url("bg-9-full.jpg");
	background-position: center;
   background-size: cover;
    height: 100%;
    background-size: 100% 100%;    */

}

#login-form{ 

background:#FAF0E6; 
border: 3 px solid #eeeee; 
padding:9px 9px;
 width:300px; 
 border-radius:5px; 
}
 .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    
body{        
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
    /*    background: #333; */
        padding: 10px 0;
      /*  color: #fff; */
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
    }    
    /* Some more styles to beutify this example */
    nav a{
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
        text-align: center;
        
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }